@import 'tailwindcss';

.content-wrapper {
  padding: 2.5rem; /* p-6 */
}

.title-text {
  font-weight: 800; /* font-extrabold */
  color: white;
  font-size: 30px;
}
#map {
  width: 100%;
  height: 470px;
  padding: 2.5rem;
  margin-left: 40px;
}
.weather-box {
  background-color: #1c1f3a;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 470px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

#weather-icon {
  visibility: visible;
  display: block;
  padding: 10px;
  width: 120px; /* Ukuran gambar */
  height: 120px; /* Ukuran gambar */
  text-align: center; /* Menyelaraskan gambar di tengah */
  position: relative;
  z-index: 10; /* Pastikan ikon cuaca berada di atas elemen lainnya */
}

#weather-icon img {
  width: 100%; /* Gambar akan mengikuti lebar elemen */
  height: auto; /* Sesuaikan tinggi dengan lebar */
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weather-box h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.weather-box li {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.weather-box .updated {
  font-size: 0.75rem;
  color: #9ca3af;
  text-align: right;
}

.tanggal-cuaca {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px; /* kasih jarak antara tanggal dan list */
  text-align: center;
}
